:root {
  --pink-1: orangered;
  --pink-2: #aa5808;
  --pink-3: #884606;
  --pink-4: #442303;

  --white: #fff;
  --grey-1: #faf9f9;
  --grey-2: #f4f2f2;
  --grey-3: #f0eeee;
  --grey-4: #ccc;

  --grey-5: #333;
  --grey-6: #777;
  --grey-7: #999;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--grey-7);
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-5);
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    var(--pink-1),
    var(--pink-3)
  );
  background-repeat: no-repeat;
}
