.div-slider {
  position: relative;
  height: 25rem;
}

.slider {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  animation: slider 15s infinite linear;
  background-image: url(../img/beef.jpeg);
  z-index: 1;

  &-heading {
    text-align: center;
    margin: 0 auto;
    font-size: 200%;
  }
  &-text {
    color: orangered;
    margin-left: 20%;
    position: absolute;
    z-index: 5;
    text-shadow: 0 5px 5px orangered;
    font-weight: 900;
    animation: pulsate 1s infinite;
  }
}
