.detail {
  display: flex;
  padding: 4.5rem;

  @include respond(tab-land) {
    padding: 2rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }
}
.desc {
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  font-size: 65%;
  margin-right: 4.5rem;
  background-color: var(--white);
  flex: 0 0 60%;

  @include respond(tab-land) {
    margin-right: 2rem;
  }
  @include respond(tab-port) {
    margin-right: 1rem;
    font-size: 60%;
  }
  @include respond(phone) {
    margin: 3rem 0;
    flex: 0 0 100%;
    font-size: 65%;
  }

  &-paragraph {
    padding: 2rem 4rem;
  }

  &-list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 1rem;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);

    display: flex;
    flex-wrap: wrap;

    @include respond(phone) {
      display: block;
      padding: 0 5rem;
      font-size: 100%s;
    }
    &-items {
      flex: 0 0 50%;
      margin-bottom: 0.7rem;
    }
    &-items::before {
      content: "";
      display: inline-block;
      color: var(--pink-1);
      height: 2rem;
      width: 2rem;
      margin-right: 0.7rem;
      //older browser
      background-image: url(/img/chevron-thin-right.svg);
      background-size: cover;

      //newer browser
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: var(--pink-1);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none;
      }
    }
  }
}
